<div class="mt-5 bg-dark rounded p-5">
    <form action="/img" method="POST">

        <div class="mb-3">
            <label for="image" class="form-label texto-blanco">Imagen url</label>
            <input type="text" class="form-control" name="url" id="img" aria-describedby="imgInput" placeholder="Url de tu imagen">
            <div id="imgHelp" class="form-text text-white">Convertiremos tu imagen a escala de grises</div>
        </div>

        <button type="submit" class="btn btn-light">Convertir</button>
    </form>
</div>